<div class="container-fluid ">
    <div class="row justify-content-center align-items-center" >
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 h-auto">
  
        <label style="text-align: center; margin-left: 50px; color: blue;"><b>Change Password</b> </label>
        <br>
        <form
        *ngIf="!isChangePassword"
        name="form"
        #f="ngForm"
        (ngSubmit)="f.form.valid && onSubmit() "
       
        novalidate
        > 
           <div class="form-group">
            <label for="newPassword" >New Password <i class="fas fa-lock"></i></label>
            <input
            
              type="password"
              class="form-control"
              name="newPassword"
              [(ngModel)]="form.newPassword"
              minlength="6"
              required
          
            />
            
        <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && newPassword?.invalid"
            >
            <div *ngIf="newPassword.errors?.required">Password is required</div>
              <div *ngIf="newPassword.errors?.minlength">
                Password must be at least 6 characters
              </div>
            </div>
           </div> 
       
          <div class="form-group">
            <label for="confirmPassword">Confirm-Password <i class="fas fa-lock"></i></label>
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              [(ngModel)]="form.confirmPassword"
              required
              minlength="6"
          
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && confirmPassword?.invalid"
            >
              <div *ngIf="confirmPassword.errors?.required">Password is required</div>
              <div *ngIf="confirmPassword.errors?.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <button type="submit"  class="btn btn-primary btn-block">
              Change-Password
            </button>
          </div>
          <div class="form-group">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && isChangePassword"
            >
              Password change failed: {{ errorMessage }}
            </div>
            
          </div>
        </form>
    
        <div class="alert alert-success" *ngIf="isChangePassword">
          Password change Successful.
        </div>
      </div>
    </div>
  </div>
  